html, body {
  //height: 100vh;
  //background: no-repeat center center fixed;
  //background-color: $colorWhite;
  overflow-x: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("../../../public/images/background.svg");
  z-index: -2;
}
main {
 //margin-left: 3rem;
 //margin-right: 3rem;
}

.background-parallax {  // deprecated becasue were not doing parrallax as of moment. remove when pruniung
  position: absolute;
  z-index: -1;
  width: 100vw;
}