// buttons

//example: <button class="button fill blue"


.button {    
    
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
 
    border-Radius: 2px; 
    padding: 10px 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    border-width: 1px;
    border-color: $ColorBlue;
    border-style: solid;
    &:hover {
        transform: translateY(-1px);
        box-shadow: 0px 3px 5px (0,0,0,0.2);
    }
    &:active {
        transform: translateY(0px) !important;
    }
    &.fill {
        background-color: $ColorBlue;
        color: $ColorWhite;
        
        &:hover {
            background-color: $ColorBlueHighlight;
        }

      
        
    }
    &.outline {
        
        color: $ColorBlue;
        background-color: transparent;
        &:hover {
            background-color: $ColorBlue;
            color: $ColorWhite;
        }

    }
    &.text {
        background-color: transparent;
        color: $ColorBlue;
        border: none;
        &:hover {
            color: $ColorDark;
        }

        &.black {
            color: $ColorDark;
            &:hover {
                color: $ColorBlue;
            }
        }

    }

    
}