.fixed {
  position: fixed;
  @include for-phone-and-tablet-portrait {
    //position: relative;
  }
}
.main-nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  height: 5rem;
  @include for-big-phone-only {
    height: 3rem;
  }
  padding-top: 1rem;
  z-index: 300;
  @include for-phone-and-tablet-portrait {
    //background-color: $colorDark;
    //padding-top: .2rem;
    height: 3rem;
  }
  //background-image: linear-gradient(to bottom, rgba(0,0,0,0.15),rgba(0,0,0,0),rgba(0,0,0,0));
  .nav-mobile {
    display: block;
    padding: 0.3em;
    background-color: $colorBlue;
    &:hover {
      background-color: $colorBlueHighlight;
    }

    @include for-tablet-landscape-up {
      display: none;
    }
  }
  .nav-item-container {
    display: none;
    margin-top: 1rem;
    align-items: center;
    @include for-tablet-landscape-up {
      display: flex;
    }

    .navbar-item {
      margin: 0 3rem;
      list-style: none;
      > a {
        line-height: 14px;
        font-weight: bold;
        padding: 0.6rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        border-radius: 3px;
        background-color: white;
      }
      .no-wrap {
        padding: 0rem;
        border-radius: 0px;
        background-color: transparent;
      }
    }
    .navbar-signup {
      @include for-phone-and-tablet-portrait {
        display: none;
      }
      margin: 0 3rem;
      list-style: none;
      > a {
        //color: $colorDark;
        line-height: 14px;
        font-weight: bold;
      }
    }
  }

  .logo {
    max-height: 100%;
    max-width: 9rem;
    margin-left: 2rem;
  }
}
