

html, body {
  font-family: 'Roboto', sans-serif;
}


a {
  text-decoration: none;
  &:active {
    color:inherit;
  }

  &:visited {
    color: inherit;
  }

  &:hover, &:focus {
    color: $colorBlue;

  }

}

h1 h2 h3 h4 {
  color: $colorDarkBlue;
}
h1 {
 
  font-size: 5rem;
  font-weight: bold;
}
h2 {

  font-size: 3rem;
  font-weight: bold;
}
h3 {
 
  font-size: 1.5rem;
  font-weight: normal;
}

.button-text-light {
  font-weight: 700;
}

.text-dark {
  color:$colorDark;
}

p {
  color: $colorDark;
}