/*
    Color Pallete

*/
//  Primary
$colorDarkBlue: #1c3851; // legacy, use colorDark from now.
$colorDark: $colorDarkBlue;

$colorLoopie: #ffc700;
$colorBlue: #0085ff;
$colorWhite: #fcfbf9;

$colorBlueHighlight: #00a5ff;

//Secondary
$colorY: #ffde69;
$colorG: #70c3a0;
$colorB: #5185ea;
$colorR: #ec6374;
$colorYLite: #fff6c5;
$colorGLite: #ace3cc;
$colorBLite: #b1daff;
$colorRLite: #ffdede;

//not Greyscale
$colorGrey1: #d7e1ea;
$colorGrey2: #797f8b;
$colorGrey3: #30384b;
$colorGrey4: #2a3039;

$colorDarkGradient: linear-gradient(to bottom right, #18314e, #0e1b27);
$dropShadow: 0 0.4em 20px rgba(0, 0, 0, 0.15);

//mixins

/* css breakpoints. 
https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862
https://codepen.io/davidgilbertson/pen/aBpJzO

** usage **
    .my-box {
    padding: 10px;

    @include for-desktop-up {
        padding: 20px;
    }
    }

*/

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-portait-only {
  @media (min-width: 600px) and (max-width: 899px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-tablet-landscape-only {
  @media (min-width: 900px) and (max-width: 1199px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-desktop-only {
  @media (min-width: 1200px) and (max-width: 1799px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
