$colorDark: #222627;
$colorDarkBlue: #1c3851;
$colorLoopie: #ffc700;
$colorBlue: #0085ff;
$colorGreen: #2abd88;
$colorWhite: #fcfbf9;
$colorGrey: #949494;
$colorGreyDark: #4b4b4b;
$colorDarkGradient: linear-gradient(to bottom right, #18314e, #0e1b27);
$dropShadow: 0 0.4em 20px rgba(0, 0, 0, 0.15);

$colorBlueHighlight: #00a5ff;

//mixins

/* css breakpoints. 
https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862
https://codepen.io/davidgilbertson/pen/aBpJzO

** usage **
    .my-box {
    padding: 10px;

    @include for-desktop-up {
        padding: 20px;
    }
    }

*/

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-portait-only {
  @media (min-width: 600px) and (max-width: 899px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-tablet-landscape-only {
  @media (min-width: 900px) and (max-width: 1199px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-desktop-only {
  @media (min-width: 1200px) and (max-width: 1799px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
