html, body, #root, #root>div {
  height: 100vh;
  background: no-repeat center center fixed;
  background-image: $ColorDarkGradient;
  overflow-x: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
main {
 margin-left: 3rem;
 margin-right: 3rem;
}
