
.home-page-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  .cta-container {
    margin-left: 15rem;

    .cta-text {
      color: $ColorLoopie;
      font-weight: bold;
      font-size: 10rem;
      max-width: 45rem;
      max-height: 30rem;
      z-index: 2;
      margin-bottom: 2rem;
    }

    .cta-subtext {
      color: $ColorWhite;
    }
    .btn {
      border-radius: 2px;
    }
  }

  .cta-image {
    margin-right: 5rem;
    max-width: 45rem;
    max-height: 30rem;
  }
}
