.main-nav {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  margin-top: 1rem;
  
  .nav-item-container {
    display: flex;
    margin-top: 1rem; 
    align-items: flex-end;

    .navbar-item {
      margin: 0 3rem;
      list-style:  none;
      > a {
        color: $ColorWhite;
        line-height: 14px;
        font-weight: bold;
        &:hover, &:focus {
          color: $ColorLoopie;
          text-decoration: none;
        }
      }
    }
  }

  .logo {
    max-height: 4rem;
    max-width: 10rem;
    margin-left: 1rem;
  }
}

