  
.main-nav {
  background-color: $ColorDark;

  .nav-item-container {
    display: flex;
    justify-content: flex-end;

    .navbar-item {
      margin: 0 3rem;
      list-style:  none;

      > a {
        color: $ColorWhite;
        line-height: 14px;
        font-weight: bold;

        &:hover, &:focus {
          color: $ColorLoopie;
          text-decoration: none;
        }
      }
    }
  }
}
