.partner-header {
  grid-column: 3;
  grid-row: 2;
  > .partner-text {
    font-size: 3em;
    font-weight: bold;

    > .blue {
      color: $colorBlue;
    }
    > .black {
      color: $colorDark;
    }
  }
}
