.slide {
	//overflow: hidden;
	max-width: 50%;
	max-height: 100%;
	grid-row: 1;
	grid-column: 2;
	color: $colorWhite;
	&.test {
		position: absolute;
		font-weight: bold;
		font-size: 30px;
		height: 50vh;
		width: 100%;
	}
}

.slide-background-test {
	//overflow: hidden;
	max-width: 50%;
	max-height: 100%;
	grid-row: 1;
	grid-column: 2;
	color: $colorWhite;
	position: absolute;
	font-weight: bold;
	font-size: 30px;
	height: 75vh;
	width: 100%;
	z-index: 0;
	&.pickup {
		background-size: cover;
		background-image: url('../../../public/images/car4.jpg');
	}
	&.order {
		background-image: url('../../../public/images/iphone3.jpg');
		background-size: cover;
		background-position: center;
	}
	&.fold {
		background-size: cover;
		background-image: url('../../../public/images/placeholder1.jpg');
	}
	&.washer {
		background-size: cover;
		background-image: url('../../../public/images/washer1.jpg');
	}
	&.deliver {
		background-size: cover;
		background-image: url('../../../public/images/car1.jpg');
	}
}

.slide-left {
	height: 70vh;
	grid-row: 1;
	grid-column: 1;
	color: $colorDarkBlue;
	text-align: center;
}

.slide-container {
	//overflow: hidden;
	max-width: 50%;
	max-height: 100%;
	grid-row: 1;
	grid-column: 2;
	color: $colorWhite;
	position: absolute;
	font-weight: bold;
	font-size: 30px;
	height: 50vh;
	width: 100%;
}



.slide-text {
	vertical-align: middle;
	text-align: center;
	align-self: center;
	display: inline-block;
	position: absolute;
}
