.socials {
  right: 1.3rem;
  bottom: 8vh;
  z-index: 1;
  .social-icons {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      padding: 3px;
      margin-bottom: 1.7em;
      height: auto;
      width: 1.1rem;
      color: $colorDark;

      #svg-hover {
        transition: all 0.3s;
        fill: $colorDark;
      }
      &:hover {
        #svg-hover {
          fill: $colorBlue;
        }
      }
    }
  }
  .copyright {
  }
}
