.split-loopie {
  @include for-tablet-portrait-up {
    display: inline-flex;
    //margin-top: -3em;
    margin-bottom: 1.5em;
  }
  @include for-big-phone-only {
    margin-top: -2rem;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
  }
  align-items: center;
  .logo-text {
    text-align: center;
    justify-items: center;
    align-items: center;
    font-size: 3em;
    justify-content: center;
    margin: 0;
    font-weight: bold;
    color: $colorBlue;
  }
  .logo-left {
    padding-left: 2.5rem;
    padding-right: 3rem;
    max-width: 100%;
    height: auto;
    max-height: 2rem;
    //display: inline-block;
  }
  .logo-right {
    max-width: 100%;
    height: auto;
    padding-left: 2.5rem;
    max-height: 5rem;
    // display: inline-block;
  }
}
