.split-text {
	margin-left: .35em;
	margin-right: .35em;
	p {
		color: $colorDarkBlue;
		//text-align: left;
	}
	h3 {
		color: $colorDarkBlue;
		font-weight: bold;
		font-size: 3em;
		text-align: left;
	}
	&.left {
		grid-column: 1 / 3;		
	}
	&.right{
		grid-column: 3;
	}
}
