.split-loopie {
  grid-column: 2;
  grid-row: 2;

  .logo-text {
    font-size: 3em;
    font-weight: bold;
    display: inline-block;
  }
  .logo-left {
    max-height: 100%;
    max-width: 10rem;
    display: inline-block;
  }
  .logo-right {
    max-height: 100%;
    max-width: 10rem;
    display: inline-block;
  }
}
