.split-loopie {
  grid-column: 3;
  grid-row: 3;
}

.logo-text {
  font-size: 3em;
  font-weight: bold;
  display: inline-block;
}
.logo-left {
  max-height: 100%;
  max-width: 10rem;
  display: inline-block;
}
.logo-right {
  max-height: 100%;
  max-width: 10rem;
  display: inline-block;
}
